<ng-container>

  <h3>Welcome to Login Page</h3>

  <div *ngIf="errorMessage" class="error" role="alert">
    {{ errorMessage }}
  </div>

  <form #loginForm="ngForm" (ngSubmit)="LoginSubmit(loginForm)" novalidate>

    <div>
      <label for="username">Username</label>
      <input id="username" type="text" name="username" ngModel required />
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" ngModel required />
    </div>

    <button type="submit">Login</button>

  </form>
</ng-container>